:root {
    --orange: #d74b1f;
    --darkOrange: #b33d19;
    --orangeOnHover: #f26235;
    --darkOrangeOnHover: #d6542b;

    --gray: #7d7d7d;
    --lightGray: #bfbfbf;
    --lightGrayOnHover: #929292;

    --bgMobile: ;
}
